{{> header}}

<!--   <header class="header">
<a href="#" class="logo">Nonlinear<br>Matters</a>
  </header> -->
  <article class="container">

  <section class="intro">
        <h1>{{meta_title}}</h1>
    <!-- <p>{{meta_description}}</p> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptatibus iure nihil pariatur perspiciatis vitae, minima magni voluptas ab culpa.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus minus deserunt quidem, qui earum accusamus quod voluptatem dolor cumque quia iste sit blanditiis nulla modi voluptatibus? Nihil ea similique quae.</p>
</section>
<section class="phases">
    <h2>The Phases</h2>
    <div class="method">
    <a href="frame">framing</a>
    <a href="research">research</a>
    <a href="ideate">ideate</a>
    <a href="validation">validation</a>
    <a href="feedback">feedback</a>
    <a href="scope">scope</a>
</div>
</section>
<section>
    <h2>The projects</h2>
    <div class="projects">
  <div class="project">
      <h3 class="title">exocortex autocomplete</h3>
     <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla enim quo cupiditate.</p>
     </div>
          <div class="btn-group">
      <button class="btn" type="button">next: ideation</button>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <p class="title">other phases:</p>

          <a href="exocortex-framing">framing</a>
          <a href="exocortex-data">data research</a>
          <a href="exocortex-competition">competition research</a>
          <a href="exocortex-user">user research</a>
          <a href="exocortex-ideate">ideation</a>
          <a href="exocortex-validation" class="disabled">validation</a>
          <a href="exocortex-feedback" class="disabled">feedback</a>
          <a href="exocortex-scope" class="disabled">scope</a>
      </div>
      </div>
  </div>
  <div class="project">
      <h3 class="title">Object<br>Library</h3>
      <div class="description"><p>Officiis, iusto inventore quasi deleniti amet quidem cupiditate.</p></div>
     <div class="btn-group">
      <button class="btn" type="button">next: validation</button>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <p class="title">other phases:</p>

          <a href="exocortex-framing">framing</a>
          <a href="exocortex-user">user research</a>
          <a href="exocortex-ideate">ideation</a>
          <a href="exocortex-validation">validation</a>
          <a href="exocortex-feedback" class="disabled">feedback</a>
          <a href="exocortex-scope" class="disabled">scope</a>
      </div>
      </div>
  </div>
  <div class="project">
      <h3 class="title">continuous grading</h3>
<div class="description">
          <p>Voluptatem laudantium perferendis cum ullam, Odio rerum voluptas.</p>

</div>
<div class="btn-group">
      <button class="btn" type="button">next: data</button>
      <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <p class="title">other phases:</p>

          <a href="exocortex-framing">framing</a>
          <a href="exocortex-data">data research</a>
          <a href="exocortex-competition"  class="disabled">competition research</a>
          <a href="exocortex-user"  class="disabled">user research</a>
          <a href="exocortex-ideate"  class="disabled">ideation</a>
          <a href="exocortex-validation" class="disabled">validation</a>
          <a href="exocortex-feedback" class="disabled">feedback</a>
          <a href="exocortex-scope" class="disabled">scope</a>
      </div>
      </div>
  </div>
</div>
</section>
  <section class="cta">
<h2>Stay in touch</h2>
    <p>newsletter, contact, twitter</p>
    <p>Fugiat tempora deserunt ea illo, eius aut ipsa odio. Perspiciatis itaque temporibus, commodi animi dolorem tenetur praesentium quas quam iure!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, sint. A officiis repellat aspernatur et fugit porro quas, hic voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate non ullam aliquid iusto amet consequatur iste itaque accusamus veritatis totam vitae est rerum, ab ea. Cum optio ipsum, dicta tenetur!</p>
</section>
<footer class="footer">
    <div class="links">
        <a href="">Lorem.</a>
        <a href="">Esse.</a>
        <a href="">Veniam.</a>
        <a href="">Sequi.</a>
    </div>
</footer>
</article>






<!-- {{#each posts}}
    <div class="post">
        <h3><a href="{{url}}">{{title}}</a></h3>
        {{#if date}}
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
    </div>
{{/each}} -->
{{> js}}