{{> header}}

  <header class="header">
<a href="#" class="logo">Nonlinear<br>Matters</a>
  </header>
  <article class="content">

  <section>
        <h1 class="title">{{meta_title}}</h1>
    <!-- <p>{{meta_description}}</p> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptatibus iure nihil pariatur perspiciatis vitae, minima magni voluptas ab culpa.</p>
    <p>Fugiat tempora deserunt ea illo, eius aut ipsa odio. Perspiciatis itaque temporibus, commodi animi dolorem tenetur praesentium quas quam iure!</p>
</section>
<section class="method">
    <a href="frame">framing</a>
    <a href="research">research</a>
    <a href="ideate">ideate</a>
    <a href="validate">validate</a>
    <a href="feedback">feedback</a>
    <a href="scope">scope</a>
</section>
<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptatibus error quos, assumenda dolores repellendus earum exercitationem dicta nam doloremque harum a obcaecati quasi aliquid debitis, blanditiis nesciunt! Eos, reprehenderit.</p>
    <p>Eligendi suscipit minus, in molestias quisquam temporibus fuga placeat cupiditate alias commodi accusantium odio dolor repellendus sapiente, possimus fugiat iste omnis sint perferendis sequi eius. Provident vero saepe magni consectetur!</p>
    <ol>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Quasi animi, numquam expedita qui.</li>
        <li>Eius, doloremque! Voluptatibus, vero, beatae.</li>
        <li>Ullam neque, sit laborum odio.</li>
        <li>Quaerat eius, necessitatibus maxime praesentium.</li>
    </ol>
    <p>Dolorum numquam atque quas amet, rem fugiat, sint illum voluptate optio accusamus, ab laboriosam earum explicabo praesentium voluptas ad. Iure esse minima facere aperiam eum quam repellat dicta vitae. Sit.</p>
</section>
</article>
<footer class="footer">
    <div class="links">
        <a href="">Lorem.</a>
        <a href="">Esse.</a>
        <a href="">Veniam.</a>
        <a href="">Sequi.</a>
    </div>
</footer>





<!-- {{#each posts}}
    <div class="post">
        <h3><a href="{{url}}">{{title}}</a></h3>
        {{#if date}}
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
    </div>
{{/each}} -->
{{> js}}