{{> header}}
    {{#post}}
 <section class="header">
                <h1>{{title}}</h1>
            <p class="post-meta">
                by {{author.name.first}} on {{date format="MMMM Do YYYY"}}
                <br>
                {{#if tags}}{{{tags}}}{{/if}}
                </p>
 </section>
            <section class="content">
                {{{body}}}
            </section>
    {{/post}}
{{> footer}}
{{> js}}