{{> header}}
<section class="intro">
  <a href="/" class="logo ">{{site.title}}</a>
  <a href="/" class="logo exocortex">exocortex</a>
</section>
    {{#post}}
 <section class="header">
                <h1>{{title}}</h1>
            <p class="post-meta">
                by {{author.name}} on {{date format="MMMM Do YYYY"}}
                <br>
                {{#if tags}}{{{tags}}}{{/if}}
                </p>
 </section>
            <section class="content">
                {{{body}}}
            </section>
    {{/post}}
{{> footer}}
{{> js}}