<div class="tab-pane fade" id="phase-{{id}}">
    <div class="description">
      <h3>{{name}}</h3>
      <div class="content">
        <p>{{description}}</p>
      </div>
    </div>
    {{#if goals}}<div class="description">
      <h4>Goals</h4>
<p>{{goals}}</p>
    </div>{{/if}}
    {{#if deliverables}}<div class="description">
      <h4>Deliverables</h4>
      <div class="content">
<p>{{deliverables}}</p>
      </div>{{/if}}
    </div>
    {{#if next-id}}<a href="#phase-{{next-id}}" class="next" data-toggle="tab">{{next-name}}</a>{{/if}}
  </div>