<section class="intro {{#if project}}post{{/if}}">
  <div class="title">
   <a href="/" class="logo">{{site.title}}{{#if project}}: {{name}}{{/if}}</a>
   {{#if project}}
   <h1>{{title}}</h1>
   {{#if tags}}<div class="tags">
 <i class="fa fa-tags"></i>
   {{{tags}}}</div>{{/if}}
 </div>
 <div class="panel author">
  <a data-toggle="collapse" href="#collapseOne" class="collapse-trigger">
    <div class="avatar" style="background-image: url(../images/avatar/{{author.name.username}}.jpg)"></div>
    <div class="description">
      {{author.name.first}} {{author.name.last}}
      <br>
      {{date format="MMMM Do YYYY"}}
      <i class="fa fa-caret-down"></i>
    </div>
  </a>
  <div id="collapseOne" class="collapse links">
    {{#if author.email}}
    <!-- use %0D%0A for line breaks -->

    <a href="mailto:{{author.email}}?subject={{name}}: {{title}}">
      <i class="fa fa-envelope"></i>email</a>
      {{/if}}
      {{#if author.site}}
      <a href="{{author.site}}"><i class="fa fa-globe" target="site"></i>site</a>
      {{/if}}
      {{#if author.twitter}}
      <a href="http://twitter.com/{{author.twitter}}" target="twitter"><i class="fa fa-twitter"></i>twitter</a>
      {{/if}}
      {{#if author.github}}
      <a href="http://github.com/{{author.github}}" target="github"><i class="fa fa-github"></i>github</a>
      {{/if}}
      {{#if author.instagram}}
      <a href="http://instagram.com/{{author.instagram}}" target="instagram"><i class="fa fa-instagram"></i>instagram</a>
      {{/if}}

    </div>
  </div>
  <div class="dropdown author {{author}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">

    </a>
    <div class="dropdown-menu"></div>
  </div>
  {{/if}}
</section>